.header {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  height: 75px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
}

.logo-wrapper {
  height: 75px;
  width: 75px;
}
