.create-course__wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 1280px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 20px;
	width: 1280px;
	border-radius: 3px;
	border: 1px solid #81a832;
	padding: 10px;
}

.title__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.description__wrapper textarea {
	width: 1280px;
	height: 80px;
}

.course-data__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 20px;
	border: 1px solid #81a832;
	width: 1280px;
}

.add-course__tile {
	width: 48%;
}

.durationHopurs span {
	font-weight: 700;
}

.course-author__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
